<h1>Ayuda</h1>

<p>Un quizz es un juego que trata de responder a una o varias pregunta de la manera correcta. El usuario debe reponder en la casilla de texto que hay cerca de la pregunta. Quiz es una red social en la que los jugadores pueden interactuar entre ellos.</p>

